
<!-- <hr>
{{studentLoginForm.value | json}}
<hr>
{{studentLogin | json}}
<hr> -->

<div class="main">
	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card">
				<div class="card-header">
					<h3 style="text-align: center;"><i class="fas fa-user"></i> Student Login</h3>
				</div>
				<div class="card-body">
					<form #studentLoginForm = "ngForm" action="">
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input name="StudentUID" type="text" class="form-control" placeholder="username" [(ngModel)]="studentLogin.StudentUID">

						</div>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input name="studentPwd" type="password" class="form-control" placeholder="password" [(ngModel)]="studentLogin.StudentPwd">
						</div>
						<div class="row align-items-center remember">
							<input type="checkbox">Remember Me
						</div>
						<div class="form-group">
							<input type="submit" value="Login" class="btn float-right login_btn" routerLink="/studentDashboard">
						</div>
					</form>
				</div>
				<div class="card-footer">
					<div class="d-flex justify-content-center links">
						Don't have an account?<a routerLink="/freshStudent">Sign Up</a>
					</div>
					<div class="d-flex justify-content-center">
						<a routerLink="/forgotPassword">Forgot your password?</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>