<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Student Aadhar Number</th>
        <th scope="col">Student Name</th>
        <th scope="col">Student Gender</th>
        <th scope="col">Student Date of Birth</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1234565455</th>
        <td>John</td>
        <td>Male</td>
        <td>10/10/1999</td>
        <td><a class="btn btn-primary btn-lg active" role="button" aria-pressed="true" (click)="viewStudentDetails()">View</a></td>
      </tr>
      
    </tbody>
  </table>