
<div>
  <nav class="navbar" style="background-color:#3C40C6; margin-bottom: 0%;">
    <a class="flex-sm-fill text-sm-center nav-link" routerLink="/home" routerLinkActive="active">Home</a>
    <a class="flex-sm-fill text-sm-center nav-link" routerLink="/aboutUs" routerLinkActive="active">About Us</a>
    <a class="flex-sm-fill text-sm-center nav-link" routerLink="/studentLogin" routerLinkActive="active">Student
      Login</a>
    <a class="flex-sm-fill text-sm-center nav-link" routerLink="/instituteLogin" routerLinkActive="active">Institute
      Login</a>
    <a class="flex-sm-fill text-sm-center nav-link" routerLink="/nodalLogin" routerLinkActive="active">Nodal Login</a>
    <a class="flex-sm-fill text-sm-center nav-link" routerLink="/ministryLogin" routerLinkActive="active">Ministry
      Login</a>
    <a class="flex-sm-fill text-sm-center nav-link" style="float: right;" hidden>Log Out</a>
  </nav>
</div>
<router-outlet></router-outlet>