nav a {
  color: white;
}

nav a.active {
  color: aqua;
}
img{
  padding: ;
  height: 120px;
  width: 120px;
  margin-left: 550px;
  margin-right: 0%;
  margin-top: 20px;
  margin-bottom: 20px;
}
h1 {
  padding: 10px;
  text-align: center;
  float: right;
  margin-right: 600px;
  margin-left: 0%;
  margin-top: 50px;
  margin-bottom: 0%;
}