{{scholarshipForm.value |json}}
<hr>
{{scholarshipFormModel |json}}

<h3>New Scholarship Form Registration</h3>
<form #scholarshipForm="ngForm" action="">

    <label for="aadharNumber">Aadhar Number</label>
    <input type="text" name="aadharNumber" id="" class="form-control" placeholder="Enter Aadhar Number"
      [(ngModel)]="scholarshipFormModel.aadharNumber">

      <label for="religion">Religion</label>
    <input type="text" name="religion" id="" class="form-control" placeholder="Enter Religion"
      [(ngModel)]="scholarshipFormModel.religion">

      <label for="category">Category</label>
    <input type="text" name="category" id="" class="form-control" placeholder="Enter Category"
      [(ngModel)]="scholarshipFormModel.category">

      <label for="fatherName">Father's Name</label>
    <input type="text" name="fatherName" id="" class="form-control" placeholder="Enter Father's Name"
      [(ngModel)]="scholarshipFormModel.fatherName">

      <label for="motherName">Mother's Name</label>
    <input type="text" name="motherName" id="" class="form-control" placeholder="Enter Mother's Name"
      [(ngModel)]="scholarshipFormModel.motherName">

      <label for="familyAnnualIncome">Family Annual Income</label>
    <input type="text" name="familyAnnualIncome" id="" class="form-control" placeholder="Enter Annual Income"
      [(ngModel)]="scholarshipFormModel.familyAnnualIncome">

     

    <button type="submit" class="btn btn-primary" style="margin-left: 5%; margin-right: 5%;">Submit</button>
    <button type="reset" class="btn btn-primary" style="margin-left: 5%; margin-right: 5%;">Reset</button>
            